#head{
text-align: center;
font-size: 2.6rem;

}




/* Q1 */
/* #btnsec{
display: flex;
justify-content: center;
align-items: center;
height: 90vh;

}


#btn{
border-radius: 10px;
padding: 10px 10px;
border: none;
cursor: pointer;
font-size: 1rem;
}

#btn:hover{
background-color: #c4c2c2;

} */





/* Q2 */

    /* body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: sans-serif;
    }

    .toggle-switch {
      position: relative;
      width: 70px;
      height: 35px;
    }

    .toggle-switch input {
      display: none;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0; left: 0;
      right: 0; bottom: 0;
      background-color: #555;
      border-radius: 50px;
      transition: background-color 0.4s;
    }

    .slider::before {
      content: "";
      position: absolute;
      height: 27px;
      width: 27px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      border-radius: 50%;
      transition: transform 0.4s ease;
      box-shadow: 0 0 8px rgba(0,0,0,0.3);
    }

    input:checked + .slider {
      background-color: #00d084;
    }

    input:checked + .slider::before {
      transform: translateX(35px);
    } */




/* Q3 */
/* 
#btn-hide{
border-radius: 10px;
padding: 10px 10px;
border: none;
cursor: pointer;
font-size: 1rem;
}

#btn-hide:hover{
background-color: #c4c2c2;

} */


/* Q4 */
/* #container{
display: flex;
justify-content: center;
align-items: center;
height: 90vh;
gap: 10px;

}

#increase-spn{
font-size: 7rem;


}

#spn{
font-size: 7rem;

}


#increase-plus{
border-radius: 3px;
padding: 14px 14px;
border: none;
background-color: #c2bfbf;
cursor: pointer;
font-size: 1rem;
font-weight:bolder;

}


#increase-plus:hover{
background-color: #e0e0e0;

}






#decrease-minus{
border-radius: 3px;
padding: 14px 14px;
border: none;
background-color: #c2bfbf;
cursor: pointer;
font-size: 1rem;
font-weight:bolder;

}


#decrease-minus:hover{
background-color: #e0e0e0;

}

 */




/* Q5*/
  /* #btn-sec{
display: flex;
justify-content: center;
align-items: center;
height: 90vh;
gap: 10px;

}



#btn{
border-radius: 10px;
padding: 10px 10px;
border: none;
cursor: pointer;
font-size: 1rem;
}

#btn:hover{
background-color: #c4c2c2;

}  */



/* Q6*/
/* #text-container{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 90vh;
gap: 10px;
}

#keys{
border-radius: 5px;
}


#spn{
font-size: 7rem;
font-family: sans-serif;
font-weight: 500;

} 



/* Q7*/
/* #inp-container{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 90vh;
gap: 10px;
}


#password-spn{
font-size: 3rem;
font-family: sans-serif;
font-weight: 300;

}


#password-inp{
padding: 10px 60px;


}  */



/* Q8/
/* #container{
display: flex;
justify-content: center;
align-items: center;
height: 90vh;
flex-direction: column;
}


#key-input{
padding: 20px 40px;
}

#spn{
font-size: 5rem;
font-weight: 500;
font-family: sans-serif;
} */



/* Q9 */
/* #container{
display: flex;
justify-content: center;
align-items: center;
height: 90vh;
flex-direction: column;
}


#key-input{
padding: 20px 40px;
}

#spn{
font-size: 5rem;
font-weight: 500;
font-family: sans-serif;
} */




/* Q10 */
/* #container{
display: flex;
justify-content: center;
align-items: center;
height: 90vh;
flex-direction: column;
}


#input{
padding: 20px 40px;
}

#spn{
font-size: 5rem;
font-weight: 500;
font-family: sans-serif;
}


#btn{
border-radius: 10px;
padding: 10px 10px;
border: none;
cursor: pointer;
font-size: 1rem;
}

#btn:hover{
background-color: #c4c2c2;

}  */



/* #select-container{
display: flex;
justify-content: center;
align-items: center;
height: 20vh;


}
#head{
text-align: center;


}

#selectcite{
padding: 5px 80px;


}

#selectcountry{
padding: 5px 60px;
margin: 9px;

}

#cite{
display: none;


}

#country{
display: none;


} */


/* 
/* Q12 */
/* #container{
display: flex;
justify-content: center;
align-items: center;
margin-top: 30px;
}

input{
padding: 10px 30px;

}
button{
padding: 8px 20px;
background-color: cadetblue;
border: none;
color:white;
cursor: pointer;
}


h1{
  text-align: center;
}  */






/* Q13 */
/* .password-container {
  position: relative;
  width: 300px; 
}

#myPassword {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  box-sizing: border-box;
}

.hidden-checkbox {
  display: none; 
}

.toggle-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  width: 20px;
  height: 12px;
  border: 2px solid #333;
  border-radius: 50% / 60%;
  display: block;
}

.toggle-icon::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  background-color: #333;
  border-radius: 50%;
}


.hidden-checkbox + .toggle-icon {
 
}


.hidden-checkbox:checked + .toggle-icon {

  border-color: #007bff;
}

.hidden-checkbox:checked + .toggle-icon::before {
  background-color: #007bff;
} */



/* Q14 */
/* #input-sec{
display: flex;
justify-content: center;
align-items: center;
height: 20vh;

}

#box{
border: 2px solid black;
height: 230px;
width: 40%;

}



#bx{
height: 270px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
 */




/* Q15 */
 /* #container{
display: flex;
justify-content: center;
align-items: center;
height: 30vh;
flex-direction: column;

 }

 label{
font-size: 1.2rem;


 }

 button{
padding: 8px 30px;
font-weight: 600;
border-radius: 3px;
background-color: #05a9af;
border: none;
cursor: pointer;
color: #ffffff;
 }
 */


/* Q16 */
/* #img-con{
display: flex;
justify-content: center;
align-items: center;


}

img{
border-radius: 20px;


} */



/* Q17 */